@import '../../sass/variables.scss';

.alta-table {
    &__row {
        border: 1px solid rgba(255, 255, 255, 0.22);
        border-top: none;
    }

    &__description {
        font-size: $font-size-p;
        text-wrap: balance;
    }

    &__buttons-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__button-row {
        color: #ddd;
        margin: 5px 10px;
        width: 100px;
        height: 50px;
        cursor: pointer;
        background-color: #000;
        border: 1px solid rgba(255, 255, 255, 0.18);
        transition: border-color 0.3s, color 0.3s;
        font-size: 16px;

        &--edit{
            &:hover {
                border: 1px solid #ffff00;
                color: #ffff00;
            }
        }

        &--delete {
            &:hover {
                border: 1px solid #ff0000;
                color: #ff0000;
            }
        }
    }

    &__img {
        width: clamp(100px, 20%, 200px);
        height: auto;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 1600px) {
    .alta {
        &__description {
            display: none;
        }
    }
}

@media (max-width: 1250px) {
    .alta {
        &__button-row {
            margin-bottom: 1rem;
        }
    }
}
