*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

ol,
ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

img, svg, video {
    max-width: 100%;
    display: block;
}

html {
    font-size: 16.5px;
    line-height: 1.5;
}

body {
    background-color: $secundary-color;
}