// colors

$primary-color: #000000;
$secundary-color: #0c0c17;
$tertiary-color: #03df79;

$h1-color: linear-gradient(to top, rgb(252, 252, 252), rgb(104, 242, 247));
$h2-color: linear-gradient(to right, #ffffff, #00ced1);
$h3-color: linear-gradient(to bottom, #ffffff, #00ced1);
$p-color: linear-gradient(to top, #ffffff, #8fa3a4);

// fonts

$font-size-title: clamp(18px, 2.5vw, 30px);
$font-size-title-p: clamp(15px, 2vw, 25px);
$font-size-title-form: clamp(15px, 1.5vw, 20px);
$font-size-p: clamp(11px, 1vw, 14px);

// Breakpoints

$breakpoint-mobile-s: 350px;
$breakpoint-mobile: 380px;
$breakpoint-mobile-xl: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-xl: 960px;
$breakpoint-notebook: 1024px;
$breakpoint-desktop: 1328px;