@import '../sass/variables.scss';

/* -------------------------------------------------*/
/* Footer TOP                                       */
/* -------------------------------------------------*/

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5rem;

  &__container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
    background-image: url("../img/galaxy.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px 50px 30px 20px;
  }

  &__information-container {
    margin-left: 30px;
  }

  &__heading {
    text-transform: uppercase;
    background: $h3-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__items {
    font-size: 14px;
  }

  &__links {
    color: #d6d6d6;
    background: linear-gradient(to top, #ffffff, #8fa3a4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    &:hover {
      color: $tertiary-color;
      text-shadow: 3.4px 2px 2px #000;
    }
  }

  &_logo-container {
    width: 500px;
    height: 300px;
  }
  &_logo-image {
    width: 200%;
    height: 200%;
  }

  /* ------------------------------------------------- */
  /* Footer BOTTOM                                     */
  /* ------------------------------------------------- */

  &__container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 6px;
  }

  &__social-link {
    color: #d6d6d6;
    text-shadow: 1.4px 1px 1px #000;
    margin: 0 0.6rem;
    font-size: 1.05rem;
    line-height: .04167em;
    vertical-align: -0.125em;
    font-weight: 700;

    &:hover {
      color: $tertiary-color;
      text-shadow: 3.4px 2px 2px #000;
    }
  }

  &__info {
    margin: 5px 0 20px;
    color: #d6d6d6;
    background: linear-gradient(to top, #ffffff, #8fa3a4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
