@import '../sass/variables.scss';

.main-header {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    & {
      flex-direction: column-reverse;
      top: 0;
      z-index: 3000;
      position: sticky;
    }
  }
}

#menu {
  display: none;
  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle__label {
    background-color: $primary-color;
  }
}

/* ------------------------------------------------- */
/* SEARCH BAR                                        */
/* ------------------------------------------------- */

.search-bar {
  background-color: $primary-color;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;

  &__logo-container,
  &__form-container {
    padding: 1em;
  }

  &__logo-container {
    background-image: url(../img/logo.webp);
    background-repeat: no-repeat;
    background-size: auto;
    width: 80px;
    height: auto;
    margin: auto 0px auto 10px;
    cursor: pointer;
    @media (max-width: 450px) {
      & {
        margin: auto 0px auto 10px;
        background-size: auto;
      }
    }
    @media (max-width: 420px) {
      & {
        width: 20px;
        height: 20px;
        margin: 15px 0 0 20px;
        background-image: url(../img/logoM.webp);
      }
    }
  }

  &__form-container {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
  }

  &__form-label {
    background-color: $primary-color;
    color: rgb(0, 0, 0);
    margin: auto 20px auto auto;
    font-size: 14px;
  }

  &__form-search {
    background-color: #eee;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    height: 30px;
    width: clamp( 400px, 70%, 800px);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    outline: none;

    &::selection {
      background: #0000003a;
    }

    @media (max-width: 768px) {
      & {
        width: 60%;
        padding: 10px 30px 10px 15px;
      }
    }
  }

  &__form-icon {
    color: #000;
    margin-right: 10px;
    margin: 0 auto;
  }

  &__form-submit {
    background-color: $tertiary-color;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    height: 30px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
  }

  &__carrito-container {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto 0;
    height: 30px;
    margin-right: 15px;
  }

  &__carrito-color {
      margin-right: 44px;
      color: $tertiary-color;
      margin: 0 10px;
      margin: auto 0;
      min-width: 30px;
      height: 25px;
  }
}

/* ------------------------------------------------ */
/* MENÚ TOOGLE                                      */
/* ------------------------------------------------ */

.menu-toogle {
  display: none;
  background-color: red;
  flex: 0 0 3em; /* shorthand (grow shrink basis) */
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: $primary-color;
    height: 100%;
    cursor: pointer;
  }

  &__top-bread, 
    &__meat, 
    &__bottom-bread {
    display: block;
    background-color: #f5f5f5;
    position: absolute;
    width: 30px;
    height: 3px;
    margin: 6px auto;
  }

  &__top-bread {
    top: 0.8em;
  }
  &__meat {
    top: 50%;
    margin-top: -0.1em;
  }
  &__bottom-bread {
    bottom: 0.8em;
  }

  @media (max-width: 768px) {
    & {
      display: block;
      flex: 0 0 40px;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}